:root {
  --teal-dark: #177991;
  --teal-light: #72bfca;
  --text: #222222;
  --moment-width: 114px;
  --icon-height: 30px;
}

.SB {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: var(--text);
}

/**
This is the container for the entire app
 */
.SB-empty-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ededed;
}

/**
Buttons, including the help button, use this
 */
.SB-button {
  display: inline-block;
  cursor: pointer;
}

.SB-help-lock-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 64px;
}

/**
    The help button is different than the others in that it sticks to the right edge
 */
.SB-help-default {
  right: 0;
  object-fit: contain;
  content: url("./img/help-default.svg");
}

.SB-help-default:hover {
  content: url("./img/help-hover-click.svg");
}

/**
    The lock button is different than the others in that it sticks to the right edge below help
 */
.SB-unlock-default {
  right: 0;
  object-fit: contain;
  content: url("./img/unlock-default.svg");
}

.SB-unlock-default:hover {
  content: url("./img/unlock-hover-click.svg");
}

.SB-lock-default {
  right: 0;
  object-fit: contain;
  content: url("./img/lock-default.svg");
}

.SB-lock-default:hover {
  content: url("./img/lock-hover-click.svg");
}

/**
    This is the container for the moments
 */
.SB-story-area {
  display: flex;
  padding: 5px 32px 5px 5px;
  height: 100%;
  margin: 0;
  border-radius: 6px;
  background-color: #ffffff;
}

/**
    We use this to cover up the story area when a dialog box is showing
 */
.SB-cover-sheet {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000022;
  cursor: default;
  z-index: 3;
}

.SB-moment-container {
  margin-left: 15px;
  justify-content: center;
  float: left;
  height: 100%;
  flex: 0 1 var(--moment-width);
}

.SB-moment-container:first-child {
  margin-left: 0;
}

.SB-moment-container.start {
  transition: transform 500ms;
  transform: translateX(-114px);
  z-index: 0;
}

.SB-moment-container.active{
  flex-shrink: 0;
}

.SB-moment {
  position: relative;
  top: 1px;
  padding: 0 3px 3px 0;
  border-radius: 5px;
  border: solid 2px #d6d6d6;
  background-color: white;
  height: 55%;
  overflow: hidden;
  z-index: 1;
}
.SB-moment:hover {
  background-color: rgba(114, 191, 202, 0.1);
}

.SB-moment.active {
  top: 7px;
  border-color: var(--teal-dark);
  background-color: rgba(114, 191, 202, 0.1);
}

.SB-moment.active:hover {
  background-color: rgba(114, 191, 202, 0.2);
}

.SB-moment.active.hasFocus{
  background-color: white;
}

.SB-moment.changed {
  background-color: rgba(255, 252, 55, 0.2);
}

.SB-moment.changed:hover {
  background-color: rgba(255, 252, 55, 0.4);
}

.SB-empty-moment {
  margin-left: 15px;
  justify-content: center;
  float: left;
  height: 60%;
  width: var(--moment-width);
  background-color: #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

.SB-title-editor {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  position: absolute;
  left: 18px;
  bottom: 0;
  top: 0;
  width: calc(var(--moment-width) - 25px);
  resize: none;
  border: none;
  background-color: transparent;
}

.SB-title-editor:focus {
  background-color: white;
  outline: lightgray;
  /*border: 2px solid lightgray;*/
}

.SB-moment-number {
  width: 17px;
  height: 15px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  background-color: #d6d6d6;
  text-align: center;
  float: left;
}

.SB-delete-area{
  position: relative;
  margin-top: -6px;
  right: -11px; /* to position button just outside container*/
}

.SB-control-area {
  position: absolute;
  bottom: 3px;
  width: var(--moment-width);
  height: var(--icon-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
}

.SB-delete-default{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  content: url("./img/delete-default.svg");
  z-index: 3;
}

.SB-delete-default:hover{
  content: url("./img/delete-hover-click.svg");
}

.SB-revert-default{
  object-fit: contain;
  content: url("./img/revert-default.svg");
  cursor: pointer;
}

.SB-revert-default:hover{
  content: url("./img/revert-hover-click.svg");
}

.SB-revert-disabled{
  object-fit: contain;
  content: url("./img/revert-disabled.svg");
}

.SB-save-default{
  object-fit: contain;
  content: url("./img/save-default.svg");
  cursor: pointer;
}

.SB-save-default:hover{
  content: url("./img/save-hover-click.svg");
}

.SB-save-disabled{
  object-fit: contain;
  content: url("./img/save-disabled.svg");
}

.SB-duplicate-default{
  object-fit: contain;
  content: url("./img/duplicate-default.svg");
  cursor: pointer;
}

.SB-duplicate-default:hover{
  content: url("./img/duplicate-hover-click.svg");
}

.SB-duplicate-disabled{
  object-fit: contain;
  content: url("./img/duplicate-disabled.svg");
}

.SB-add-default{
  object-fit: contain;
  content: url("./img/add-default.svg");
  cursor: pointer;
}

.SB-add-default:hover{
  content: url("./img/add-hover-click.svg");
}

/**
    This defines a narrow vertical bar that, during drag of a moment, indicates where the drop will take place.
 */
.SB-placement {
  position: absolute;
  z-index: 2;
  height: 55%;
  width: 2px;
  border: solid 3px yellow;
  background-color: var(--teal-dark);
  left: -100px;
}

/**
    These styles relate to the "modal" dialog box that comes up to give the user a choice of what to do about changes.
 */
.SB-dialog {
  position: absolute;
  z-index: 4;
  height: 75%;
  width: 295px;
  border: solid 2px var(--teal-dark);
  background-color: #fffed7;
  top: 5px;
  right: 35px;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 2px 2px #3c3c3c;
}

.SB-button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 4px;
}

.SB-dialog p {
  margin-block: 0;
}

.SB-dialog-button {
  padding: 4px;
  font-size: 11px;
  text-align: center;
  background-color: white;
  border: 1px solid var(--teal-dark);
  border-radius: 10px;
  cursor: pointer;
  bottom: 0;
}

.SB-dialog-button:last-child {
  font-weight: bold;
  border: 2px solid var(--teal-dark);
  background-color: rgba(114, 191, 202, 0.5);
}

.SB-dialog-button:hover {
  background-color: #e3f2f4;
}

.SB-dialog-button:last-child:hover {
  background-color: var(--teal-dark);
  color: white;
}